

.main.bg-img {

    height: calc(100vh);
    background: url(/img/DSC_0011.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
}


.main.bg-img h1 span{
background: #4267B2;
padding: 0 10px;
border-radius: 5px;
font-weight: bold;
}

