@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

h1 {
    font-size: 2em;
}

p {
    font-weight: 100;
}

p span {
    font-weight: bold;
}

@media screen and (max-width: 992px) {

    .nav-center {
        justify-content: space-between;
    }
    .bg-dark {
        width: 100%;
    }

    .plan ul {
        display: flex;
        flex-direction: column;
    }

    .contact {
        background-image: url(/img/DSC_0025.jpg);
        padding: 30px;
        color: white;
        text-align: center;
        height: auto;
    }

    .contact .stack {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact .column {
        width: 100%;
        margin: 50px 10px;

    }

    .contact .column:nth-child(2) * {
        
        width: 100%;
    }

}